body {
    background-color: #F7F3FF;
}

* {
    font-family: Open Sans;
    color: #fff;
}


.social-media {
    background-color: #772D8B;
}

.join-us {
    color: #FFC42D;
}


.navigation {
    background-image: url(./images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 40px;
}

.main-heading {
    padding-top: 40px;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.26);
}

.nav-helpline span {
    color: #FFC42D;
}

.nav-links {
    display: flex;
    justify-content: end;
}

.nav-links a:hover {
    color: bisque;
}

.nav-link {
    white-space: nowrap;
    color: #fff;
}

.login-side-bar {
    background-color: #373737C9;
    width: fit-content;
    border-radius: 8px;
}


input[type=text] {
    width: 226px;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 6px;
    color: #373737C9 ;
  }

  input[type=password] {
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 6px;
    color: #373737C9 ;
  }

  .form-bar p {
      font-size: 10px;
      color: #B6C4DA;
      margin-left: 140px;
      cursor: pointer;
  }

  .login-btn button{
    background: #EE2B7A;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 218px;
    cursor: pointer;
  }

  .letter-p {
      color: #995AAA;
  }

  .section-icons {
      background-color: #772D8B;
      height: 90px;
      width: 90px;
      margin: auto;
  }

  @media screen and  (max-width: 768px) {

    .main-head {
        display: block;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }

    .main-text {
        text-align: center;
    }
    
    .nav-links {
        flex-direction: column;
        margin: auto;
        padding: 0;
    }


  }

  @media screen and  (max-width: 992px) {

    .section-two {
        display: block;
        flex-direction: column;
        text-align: center;
        align-self: center;
        justify-content: center;
        justify-items: center;
    }

    .section-two img {
        margin: 0;
    }

  }

h1,h2,h3,h4,h,h6,p{
    margin: 0;
}

.container{
    padding: 20px;
}
.clients__heading,
.news__heading,
.brands__heading{
    text-align: center;
    margin: 60px 0 63px 0;
}
.clients__heading h4{
    color: #995AAA;
    font-size: 14px;
}
.clients__heading h3,
.news__heading h3,
.brands_section h3{
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    color: #474747;
}
.clients__row,
.news__row,
.footer__row{
    display: flex;
}
.client__col{
    padding: 25px;
    line-height: 22px;
    margin: 20px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F9F9F9;
    box-shadow: 13px 24px 44px rgba(0, 0, 0, 0.07);
}
.client__col p,
.news__col p {
    font-size: 22px;
    line-height: 35px;
}
img
.client__col {
    border-radius: 100%;
    margin: 24px;
}
/* NEWS HEADING */
.news {
    width: 100%;
}

.news img{
    width: 100%;
   
}
.news__heading h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
}
.news__heading p{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin: 9px 0;
}
.news__col{
    padding: 20px;
    line-height: 22px;
    margin: 25px 10px;
    text-align: center;
    /* width: 30%; */
}
.news__col h3{
    color: #565656;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    margin: 23px 0;
}
.btn {
    background: #EE2B7A;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 25px 0;
}
iframe{
    width: 100%;
}

.video {
    height: 100%;
    background-image: url("./assets/clouds-daytime-equipment-129544\ 1.png");

}
.bg {
    height: 100%;
}
/* BRANDS */
.brands_section{
    background: #f5eeee;
    margin-bottom: 60px;

}
.brands__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.brand{
    width: 150px;
}
.brand img{
    width: 100%;
}
/* FOOTER */
footer{
    background: #333333;
    color: white;
}
.footer__col {
    width: 33%;
    padding: 30px;
    line-height: 30px;
}
.footer__col h4{
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    margin: 50px 0 19px 0;
}
.footer__col p{
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
}
.contact__details {
    display: flex;
    margin: 16px 0;
}
.contact__details img{
    margin-right: 20px;
}
.under__line p{
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.under__line p:not(:first-child){
    padding-top: 10px;
}
.copyright__section{
    background: white;
    padding: 12px;
    text-align: center;
    color: #474747;
}

@media screen and (max-width:900px) {
   
    .brands__row{
        flex-wrap: wrap;
    }
    .brand{
        width: 150px;
    }
    .brand img{
        width: 100%;
    }
    .footer__col{
        width: 100%;
        padding: 0;
    }

}

